# Maven build output
/target/
/out/

# IDEA project files
*.iml
.idea/
dependency-reduced-pom.xml

# OS-specific files
.DS_Store
Thumbs.db

# Compiled binaries
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Ignore ffmpeg binaries if you keep them locally
src/resources/ffmpeg/bin/
src/resources/yt-dlp.exe